body {
  height :100vh;
  width : 100vw;
  background-color: #b5d0fc;
  display:flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 95%;
  border: .1em solid black;
  margin 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.row {
border: .1em solid black;
margin : .5em;
box-sizing: border-box;
max-width: 97.75%
}

p {
  font-size: 12px;
}

.imgtwo {
  float: right;
}
